.resultsContainer{
  width: 80% !important;
  height: auto;
  background: linear-gradient(to right, #1c1c1c, #1e1e1e) !important;
  box-shadow: -.5rem 0 3rem #000 !important;
  margin-top: 50px;
  padding:60px;
  margin-bottom:50px;
}

.pageHeader{
  width: 100% !important;
  padding: 40px;
  margin:50px;
}

.row{
  width: 100% !important;
}
.card {
  
  height: auto !important;
  background: #0f0f0f8f;
  border-color: rgba(255, 255, 255, 0.4);
  /* border-radius: 50px; */
  padding: 30px;
}

.body {
  overflow: hidden;

}

.header {
  padding-left: 35px;
}

.title {
  text-align: left !important;
  color: rgba(255, 255, 255, 0.909);
  text-transform: uppercase !important;

}
.author {
  text-align: left !important;
  color: rgba(255, 255, 255, 0.709);
}
.btn {
  margin-left: 15px;
  margin-bottom: 10px;
  width: 80px;
}

hr {
  background-color: rgba(255, 255, 255, 0.2);
  width: 90%;

}

.text {
  color: rgba(255, 255, 255, 0.709);
  text-align: left;
}


.image {
  float: left;
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin: 20px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

